.user-wrapper{
    background: url("../media/loginBg.png");
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    overflow: hidden;
}

.login-slide{
    background-size: cover;
    background-position: center;
    display: flex !important;
    border-radius: 20px;
    align-items: end;
    flex: 1;
    height: 90vh !important;
    margin-right: 10px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.06);
}

.login-slider{
    width: 620px;
    height: 90vh;
    flex: 1;
    margin-right: 80px;
    border-radius: 20px;
}

.login-slide-text{
    width: calc(100% - 160px);
}

.login-slide-container{
    padding: 20px;
    background-image: linear-gradient(180deg, #0000, rgba(255, 255, 255, .9));
    border-radius: 20px;
}

.login-slide-text h1{
    font-size: 40px;
}

.login-wrapper{
    background-color: white;
    padding: 40px;
    width: fit-content;
    border-radius: 20px;
    flex: 1;
    margin-left: 80px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.06);
    min-height: fit-content;
    max-height: 80vh;
}

#login-logo{
    width: 200px;
}

.log-in-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.log-in-header p{
    color: #808080;
}


.user-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-wrapper input{
    background-color: #F5F5F5;
    width: -webkit-fill-available;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.user-wrapper input[type="submit"]{
    background-color: #010068;
    color: white;
}

.user-wrapper label p{

    margin-bottom: 5px;
}


.user-options{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.user-options label{
    display: flex;
    gap: 5px;
}

.user-options input{
    padding: 0;
    width: 20px;
    margin-bottom: 2px;
}

.login-alternative{
    text-align: center;
}

.user-wrapper a{
    text-decoration: none;
    color: #010068;
}

.login-alternative a{
    text-decoration: underline;
}

.prev-arrow {
    right: 80px;
  }
  .next-arrow {
    right: 30px;
    rotate: 180deg;
  }
  
  .hangouts-arrow{
    bottom: 20px;
    padding: 5px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    z-index: 90;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgb(66 63 63 / 30%),
      0px 1px 3px 1px rgb(66 63 63 / 15%);
      transition: all 0.2s ease-in-out;
  }


  @media only screen and (max-width: 1300px){
    .user-wrapper{
        gap: 40px;
    }

    .login-wrapper{
        margin-left: 40px;
    }

    .login-slider{
        margin-right: 40px;
        width: 50%;
    }
  }

  @media only screen and (max-width: 1100px){
    .user-wrapper{
        gap: 20px;
    } 

    .log-in-header h1{
        font-size: 24px;
    }

    .login-wrapper{
        margin-left: 20px;
        height: 80vh;
        padding: 0;
        display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .log-in-header{
        margin: 20px;
    }

    .user-wrapper form{
        margin: 20px;
    }

    .login-slider{
        margin-right: 20px;
    }

  }

  @media only screen and (max-width: 800px){
    .user-wrapper{
        gap: 40px;
        flex-direction: column;
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .login-wrapper{
        margin-left: 0;
        width: 90%;
    }

    .login-slider{
        margin-right: 0;
        width: 90%;
    }

    .login-slide-text{
     width: calc(100% - 100px);   
    }
  }