@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

svg {
    width: 20px;
    height: 20px;
    fill: black !important;
    margin: 0 auto;
}

.text-white svg{
    fill: white !important;
}

.bg-p1 {
    background: #010068;
}
.bg-p2 {
    background: #FEDF60;
}
.bg-s1 {
    background: #CB2F30;
}
.bg-s2 {
    background: #4581E1;
}
.bg-s3 {
    background: #3FBEA7;
}
.bg-gradient1 {
    background: rgba(254, 235, 154, 1);
}

.color-p1 {
    color: #010068;
    font-weight: bold;
}
.color-p2 {
    color: #FEDF60;
}
.color-s1 {
    color: #CB2F30;
}
.color-s2 {
    color: #4581E1;
}
.color-s3 {
    color: #3FBEA7;
}
.color-white {
    color: #fff;
}

.text-white{
    color: white;
}

.w-100 {
    width: 100%;
}

.txt-b1 {
    font-size: 60px;
    font-weight: bold;
}
.txt-b2 {
    font-size: 40px;
    font-weight: bold;
}
.txt-m1 {
    font-size: 20px;
}
.txt-m2 {
    font-size: 18px;
}
.txt-sm1 {
    font-size: 16px;
}
.txt-sm2 {
    font-size: 12px;
}

.txt-icon1 {
    font-size: 30px;
}
.txt-icon2 {
    font-size: 25px;
}

.flex {
    display: flex;
    width: auto;
}

/*Buttons*/
.viewAllBtns1 {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}

.viewAllBtns1:hover{
    background: white;
    color: #010068;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.viewAllBtns1:hover svg{
    fill: #010068 !important;
    transition: all ease-in-out 0.2s;
}

.viewAllBtns2 {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid #010068;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}

.viewAllBtns2 svg{
    margin-top: 0px !important;
    width: 20px !important;
    height: 20px !important;
}

.viewAllBtns2:hover{
    background: #FEDF60;
    color: #010068 ;
    border: 1px solid #FEDF60;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.viewAllBtns2:hover svg{
    fill: #010068 !important;
    transition: all ease-in-out 0.2s;
}

.viewAllBtns3 {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid #FEDF60;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
}

.bg-p2{
    transition: all ease-in-out 0.2s;
}

.bg-p2:hover{
    background: #010068;
    color: white;
    transition: all ease-in-out 0.2s;
    border: 1px solid #010068;
    cursor: pointer;
}

.bg-p2:hover svg{
    fill: white !important;
    transition: all ease-in-out 0.2s;
}

.Mainsection1 .bg-p2:hover{
    color: #010068;
    border: none;
    cursor: default;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .5) o !important;
}



/*Badges*/
.Badge1 {
    padding: 2px 5px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #E5AF00 1.26%, #FEDF60 23.68%, #F9C901 46.82%, #FDD401 67.4%, #CCA213 100%);
    display: inline-block;
}


/*hide Div Scrollbars*/
/* Hide scrollbar for Chrome, Safari and Opera */
.RecAreas::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.RecAreas {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


/* NAVIGATION BAR */

.navBar {
    padding: 10px 20px;
    top: 10px;
    position: fixed;
    margin: 0 auto;
    width: calc(100% - 60px);
    background: rgba(255, 255, 255, 0.11);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 20;
    transition: all ease-in-out 0.1s;
}

.scrolling-active {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #cbcbcb80;
    transition: all ease-in-out 0.1s;
    border-radius: 0;
    top: 0;
    padding: 10px 35px;
}

.navBarLogoCont {
    margin: auto 0;
}

.navBarLogoCont img{
    height: 40px;
}

.navBarLinksCont a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navBarLinksCont svg{
    margin-right: 5px;
}
.navBarLinks {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    margin: auto 0;
    margin-right: 10px;
}
.navBarLinks2 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}
.navBarPfp {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
}

.navBarPfp img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: relative;
}

.navBarLinksActive, .navBarLinksActive svg {
    fill: #FEDF60 !important;
    color: #FEDF60 !important;
}

.navBarLinks:hover svg path{
    fill: #FEDF60 !important;
}

.navBarLinks {
    transition: transform 1000ms;
}

    .navBarLinks:hover {
        background-color: #010068;
        color: white;
        transform: translateY(-2px);
        transition: transform 250ms;
    }

    .navBarLinks p{
        margin-bottom: 0px;
    }

    #nav-discoveries:hover svg path {
        animation: nav-discoveries-animation 5s forwards;
    }

#nav-discoveries svg path {
    fill: #FEDF60 !important;
}


#nav-umakVerse:hover svg path {
    animation: nav-umakverse-animation 5s forwards;
    margin: auto;
}

#nav-safety-center svg path, #nav-umakVerse svg path {
    fill: black;
}

#nav-safety-center:hover svg path {
    margin: auto;
    animation: nav-safety-center-animation 3s forwards;
}

@keyframes nav-discoveries-animation {
    0% {
        opacity: 1;
        left: 50%;
        top: 50%;
        transform: rotate(0deg) scale(1);
        transform-origin: center;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg) scale(1);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }
}

@keyframes nav-umakverse-animation {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    25% {
        opacity: 1;
        transform: rotate(0deg) scale(1.2);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    50% {
        opacity: 1;
        transform: rotate(5deg) scale(0.9);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    75% {
        opacity: 1;
        transform: rotate(-10deg) scale(0.9);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    90% {
        opacity: 1;
        transform: rotate(0deg) scale(1.2);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

}

@keyframes nav-safety-center-animation {
    0% {
        opacity: 1;
        left: 50%;
        top: 50%;
        transform: rotate(0deg) scale(1);
        transform-origin: center;
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        left: 50%;
        top: 50%;
        transform-origin: center;
    }
}


.blueText {
    color: #010068;
}

.bg-white{
    background-color: white;
}

.justify-content-center{
    justify-content: center;
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}


.MainFooter {
    padding: 40px 100px;
    width: auto;
}

.MainFooter img{
    height: 20px;
}

@media only screen and (max-width: 1100px){
    .navBarLinksCont a{
        margin-right: 10px !important;
    }

    .navBarLinksCont a.navBarPfp{
        margin-right: 0 !important;
    }

    .navBarLinksCont .txt-m2{
        font-size: 14px;
    }

    .navBarLogoCont img {
        height: 30px;
    }
}

.hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navBarLinks2 p, .navBarPfp p{
    display: none;
}

@media only screen and (max-width: 1050px){

    .txt-sm1{
        font-size: 14px;
    }

    .txt-m1 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px){
    .umakDiscoveryPage .navBarLinksCont a {
        color: black;
    }

    .txt-m2{
        font-size: 14px;
    }
    .navBar.nav-white{
        background-color: white;
        backdrop-filter: none;
    }

    .navBarLinksCont{
        position: fixed;
        right: -100%;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        justify-content: initial;
        padding-top: 90px;
        margin-right: -10px;
        margin-top: -10px;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
      }
    
      .navBarLinksCont.active {
        position: fixed;
        right: 0;
        width: 60%;
        top: 0;
        height: 100vh;
        justify-content: initial;
        z-index: 5;
        padding-top: 90px;
        margin-right: -10px;
        margin-top: -10px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-bottom: none;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(7px);
    }
    
    
      .navBarLinksCont a{
        margin: 5px;
            margin-right: 40px !important;
            margin-left: 40px;
    }

    .navBarLinksCont svg {
        margin: 0;
        margin-right: 5px;
    }    

      .nav-item {
        margin: 25px 0;
      }
    
      .hamburger {
        display: block;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        z-index: 6;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        background-color: #010068;
      }
    
      .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
        background-color: #010068;
      }
    
      .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
        background-color: #010068;
      }
    
      .bar {
        background-color: #010068;
      }
    
      .active {
        box-shadow: none;
      }

      .navBarLinks2, .navBarPfp {
        font-size: 14px;
        padding: 10px;
    }

    .navBarLinks2 p, .navBarPfp p{
        display: block;
        margin-left: 5px;
    }

    .navBarPfp{
        background-color: white;
        border-radius: 100px;
        bottom: 100px;
        position: absolute;
        width: fit-content;
        padding: 10px 15px;
    }

    .navBarLinks{
        height: auto;
        padding: 10px;
    }

    .searchBar{
        order: -1;
    }
    
}

@media only screen and (max-width: 700px){
    .txt-b1{
        font-size: 40px;
    }

    .MainFooter{
        padding: 20px 40px;
    }

    .MainFooter .justify-content-between{
        flex-direction: column;
    }

    #copyright{
        margin-top: 20px;
    }
}